.appContainer {
  justify-content: start;
  display: flex;
  margin: -8px;
  padding-bottom: 33px;
  flex-direction: column;
  background-color: #f0efef;
  height: auto;

}

.header {
  justify-content: start;
  background: linear-gradient(90deg, #3b82f6 0%, #9333ea 100%);
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  display: flex;
  width: auto;
  gap: 20px;
  background-color: #eaecf1;
  color: #fff;
  padding: 0px 5px;
  object-fit: cover;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

.appLogo {
  flex-grow: 1;
  flex-basis: auto;
  font: 700 24px/133% Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.navLinks {
  align-self: start;
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  line-height: 150%;
  margin-top: 20px;
  margin-right: 5px;
}

@media (max-width: 991px) {
  .navLinks {
    white-space: initial;
  }
}

.navLink {
  font-family: Roboto, sans-serif;
  align-self: stretch;
    margin: auto 0;
}

.profileIcon {
  aspect-ratio: 0.67;
  object-fit: auto;
  object-position: center;
  width: 16px;
  align-self: stretch;
}

.mainContent {
  display: flex;
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
  padding: 0 0;
}

@media (max-width: 991px) {
  .mainContent {
    max-width: 100%;
    padding: 0 10px;
  }
}

.searchBar {
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .searchBar {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.searchInput {
  font-family: Roboto, sans-serif;
  justify-content: center;
  align-items: start;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(209, 213, 219, 1);
  background-color: #fff;
  color: #b2b2b2;
  margin-left: 24px;
  padding: 19px 13px;
}

@media (max-width: 991px) {
  .searchInput {
    max-width: 100%;
    padding-right: 20px;
  }
}

.createButton {
  font-family: Roboto, sans-serif;
  justify-content: center;
  border-radius: 3px;
  background: linear-gradient(90deg, #3b82f6 0%, #9333ea 100%);
  box-shadow: 0 1px 2px -1px rgba(255, 255, 255, 0), 0 1px 3px 0 rgb(255, 255, 255);
  color: #fff;
  text-align: center;
  margin: auto 0;
  padding: 14px 16px;
  margin-right: 24px;
  
}

.wishlistCard {
  border-radius: 8px;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  margin-top: 24px;
  margin-left: 24px;
  width: 300px;
  max-width: 80%;
  flex-direction: column;
  padding: 20px;
}

.imageContainer {
  background-color: rgba(221, 221, 221, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 68px 60px;
}

@media (max-width: 991px) {
  .imageContainer {
    padding: 0 20px;
  }
}

.wishlistImage {
  aspect-ratio: 9.09;
  object-fit: auto;
  object-position: center;
  width: 213px;
  fill: #999;
  margin: 0 11px;
}

.wishlistName {
  color: #1f2937;
  margin-top: 23px;
  font: 600 18px/156% Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.wishlistInfo {
  color: #4b5563;
  margin-top: 21px;
  font: 400 16px/150% Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.ownerInfo {
  display: flex;
  margin-top: 23px;
  gap: 20px;
  font-size: 16px;
  color: #4b5563;
  font-weight: 400;
  line-height: 150%;
}

.ownerName {
  font-family: Roboto, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}

.ownerIcon {
  aspect-ratio: 1.67;
  object-fit: auto;
  object-position: center;
  width: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}